# Dependencies
node_modules/

# Build output
dist/
out/

.env
venv/
.venv/
docs/


# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

# Test artifacts
.nyc_output/
coverage/
tests/

# Temporary files
*.tmp
*.bak
*~
